* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

:root {
  --dark-color: #000000;
  --primary-color: #ffbd48;
  --second-color: #60bb28;
  --third-color: #f9f9f9;
  --white: #ffffff;
  --border-color: #fff5de;
  --box-color: #fffbf4;
  --button-color: #ffe175;
}

header {
  position: absolute;
  background: url("./assets/bg.svg");
  background-size: cover;
  width: 100%;
  height: 30rem;
}

header .container {
  position: absolute;
  top: 4rem;
  left: -2rem;
  z-index: 10;
  padding: 7.8rem 8rem 7.8rem 8rem;
}

main {
  display: grid;
  position: relative;
  justify-content: center;
  top: 30rem;
  padding: 4.8rem;
  width: 100%;
  margin: -4.8rem auto;
}

main h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-color);
  margin-top: -4.8rem;
  margin-bottom: 5rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.5rem;
  padding: 4.8rem 2.4rem 5rem 2.4rem;
}

.menu {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5.5rem 1.5rem;
}

.La-Cuma {
  width: 100%;
  border-radius: 1.6rem;
}

.La-Cuma .box {
  max-width: 32rem;
  min-height: 30rem;
  border-radius: 1.6rem;
  border: 2px solid var(--border-color);
  background: var(--box-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 2.5rem;
}

.box .icons-1 {
  display: flex;
  justify-content: center;

  margin-top: -9.6rem;
  margin-right: -1.5rem;
  gap: 1rem;
}

.info {
  text-align: center;
  margin-bottom: 3.6rem;
}

.info h3 {
  color: var(--dark-color);
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0.5px;
  margin-bottom: 2rem;
}

.info p {
  text-align: center;
  color: var(--dark-color);
  width: 21.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4rem;
}

.info h4 {
  color: var(--dark-color);
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.8rem;
}

.La-Cuma .btn {
  background: var(--primary-color);

  text-align: center;
  max-width: 20.6rem;
  height: 4.1rem;
  margin: 0 0.45rem;
  margin-top: 4rem;
  padding: 1.2rem 2.5rem 1.2rem 4rem;
  border: none;
  border-radius: 2.5rem;

  transition: all 0.3s ease;
}

.La-Cuma .btn span {
  font-size: 1.4rem;
  font-family: var(--dark-color);
  padding: 1.2rem auto;
  text-transform: uppercase;
  letter-spacing: 5%;
}

.La-Cuma .btn:hover {
  background-color: var(--button-color);
  color: var(--dark-color);
}

/*.La-Menta {
  width: 100%;
  max-width: 37.5rem;
  border-radius: 1.6rem;
  padding: 0.5rem;
}

.La-Menta .box {
  width: 100%;
  height: 100%;
  border-radius: 1.6rem;
  border: 2px solid var(--border-color);
  background: var(--box-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.24rem 3rem;
  padding-bottom: 2.1rem;
}

.box .icons-2 {
  display: flex;
  justify-content: center;
  justify-content: right;
  width: 100%;
  max-width: 12rem;
  height: 12rem;
  margin-top: -9.6rem;
  margin-right: -1.5rem;
  gap: 1rem;
}

.info {
  text-align: center;
  margin-bottom: 3.6rem;
}

.info h3 {
  color: var(--dark-color);
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0.5px;
  margin-bottom: 2rem;
}

.info p {
  text-align: center;
  color: var(--dark-color);
  width: 21.5rem;
  height: 4.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4rem;
}

.info h4 {
  color: var(--dark-color);
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.8rem;
}

.La-Menta .btn {
  background: var(--primary-color);

  text-align: center;
  max-width: 20.6rem;
  height: 4.1rem;
  margin: 0 0.45rem;
  margin-top: 4rem;
  padding: 1.2rem 2.5rem 1.2rem 4rem;
  border: none;
  border-radius: 2.5rem;

  transition: all 0.3s ease;
}

.La-Menta .btn span {
  font-size: 1.4rem;
  font-family: var(--dark-color);
  padding: 1.2rem auto;
  text-transform: uppercase;
  letter-spacing: 5%;
}

.La-Menta .btn:hover {
  background-color: var(--button-color);
  color: var(--dark-color);
}*/

@media screen and (max-width: 480px) {
  body {
    width: 100%;
  }
}
