* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

:root {
  --dark-color: #000000;
  --primary-color: #ffbd48;
  --second-color: #60bb28;
  --third-color: #f9f9f9;
  --white: #ffffff;
  --border-color: #fceac0;
  --box-color: #fcf5e3;
  --button-color: #ffe175;
}

header {
  position: absolute;
  background: url("./assets/bg.svg");
  background-size: cover;
  width: 100%;
  height: 20rem;
}

header .img {
  position: absolute;
  left: -2.4rem;
  z-index: 10;
  padding: 7.8rem 8rem;
  margin-top: -1.8rem;
}

main {
  display: grid;
  position: relative;
  justify-content: center;
  top: 17.6rem;
  width: 100%;
}

main h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.5rem;
  padding: 4.8rem 2.4rem;
}

.menu {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5.5rem 1.5rem;
}

.container {
  width: 100%;
  border-radius: 1.6rem;
  margin: 2.4rem 0 2.4rem;
}

.container .box {
  width: 100%;
  height: 100%;
  border-radius: 1.6rem;
  border: 2px solid var(--border-color);
  background: var(--box-color);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.box .icons {
  display: flex;
  justify-content: center;

  margin-top: -4rem;
  margin-right: -1.5rem;
  gap: 1rem;
}

.info {
  text-align: center;
}

.info h3 {
  color: var(--dark-color);
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0.5px;
  margin-top: 2rem;
}

.info p {
  text-align: center;
  color: var(--dark-color);
  width: 21.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
  margin-top: 1.5rem;
}

.info h4 {
  color: var(--dark-color);
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 8rem;
}

.container .btn {
  background: var(--primary-color);

  text-align: center;
  margin-top: 2rem;
  margin-bottom: -20rem;
  padding: 1.2rem 1.5rem;
  border: none;
  border-radius: 2.5rem;

  transition: all 0.3s ease;
}

.container .btn span {
  font-size: 1.2rem;
  font-family: var(--dark-color);
  text-transform: uppercase;
  padding: 0 1.5rem;
}

.container .btn:hover {
  background-color: var(--button-color);
  color: var(--dark-color);
}

.about {
  position: relative;
  overflow: hidden;
  margin-top: 6.4rem;
  background-color: var(--box-color);
}

.about .container {
  display: flex;
  flex-direction: column;
  justify-items: start;
}

.end-info img {
  display: flex;
  align-items: center;

  padding: 6.4rem 2.4rem;
}

.welcome h2 {
  font-size: 2.4rem;
  padding: 2.4rem 0;
  margin-right: 2.4rem;
  margin-bottom: -3.2rem;
  margin-top: -6.4rem;
}

.welcome .yellow {
  color: #ffbd48;
}

.welcome .red {
  color: #ff3536;
}

.welcome .green {
  color: #60bb28;
}

.welcome p {
  width: 100%;
  max-width: 32.7rem;
  height: 24.3rem;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 3.2rem;
  color: var(--dark-color);
  opacity: 80%;

  text-align: start;
}

.container .btn-more {
  background: var(--primary-color);

  margin-left: 2.4rem;

  max-width: 20rem;
  height: 4rem;
  border: none;
  border-radius: 2.5rem;
  margin-bottom: 6rem;

  transition: all 0.3s ease;
}

.container .btn-more span {
  font-size: 1rem;
  font-weight: 600;
  padding: 1.3rem 4rem 1.2rem 4rem;
  text-transform: uppercase;
}

.container .btn-more:hover {
  background-color: var(--button-color);
  color: var(--dark-color);
}

@media screen and (max-width: 480px) {
  body {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  header {
    position: relative;
    background: url("./assets/background-header-tablet.svg");
    width: 768px;
    height: 400px;
  }

  header .img {
    margin-left: -4.4rem;
    padding: 10rem 23.4rem;
  }

  main {
    top: 1rem;
    margin-bottom: 6.4rem;
  }

  main h2 {
    font-size: 2.3rem;
  }

  .menu {
    grid-template-columns: repeat(2, 1fr);
    gap: 4.4rem 1.5rem;
  }

  .container {
    margin: 2.4rem 0 2.4rem;
  }

  .about {
    margin-top: 0;
  }

  .welcome h2 {
    font-size: 2.4rem;
    padding: 6.2rem 3.4rem;
    margin-right: 3.4rem;
    margin-bottom: -6.4rem;
  }
}
